<div class="create-page">
  <div class="form-wrapper">
    <form [formGroup]="customForm">
      <div class="row">
        <div class="col-12 form-group">
          <mat-label
            >JavaScript Framework<span class="mandatory-icon">
              *</span
            ></mat-label
          >
          <mat-form-field appearance="fill">
            <select
              matNativeControl
              name="framework"
              formControlName="frontendFramework"
            >
              <option
                *ngFor="let framework of frontendFrameworkList"
                [value]="framework.id"
              >
                {{ framework.frameworkName }}
              </option>
            </select>
          </mat-form-field>
          <mat-error
            *ngIf="
              f.frontendFramework &&
              f.frontendFramework?.errors &&
              f.frontendFramework.errors?.required &&
              (f.frontendFramework.dirty || f.frontendFramework.touched)
            "
          >
            Frontend Framework Name is Required
          </mat-error>
        </div>
      </div>
      <div class="row">
        <div class="col-12 form-group">
          <mat-label
            >Backend Framework<span class="mandatory-icon"> *</span></mat-label
          >
          <mat-form-field appearance="fill">
            <select
              matNativeControl
              name="framework"
              formControlName="backendFramework"
            >
              <option
                *ngFor="let framework of backendFrameworkList"
                [value]="framework.id"
              >
                {{ framework.frameworkName }}
              </option>
            </select>
          </mat-form-field>
          <mat-error
            *ngIf="
              f.backendFramework &&
              f.backendFramework?.errors &&
              f.backendFramework.errors?.required &&
              (f.backendFramework.dirty || f.backendFramework.touched)
            "
          >
            Backend Framework Name is Required
          </mat-error>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="col-12 form-group">
            <mat-label
              >Module Name<span class="mandatory-icon"> *</span></mat-label
            >
            <input
              matInput
              *ngIf="
                moduleListForm.length === 1 ||
                f.moduleName.value === 'Add New One'
              "
              class="form-control"
              formControlName="moduleName"
            />
            <mat-form-field
              appearance="fill"
              *ngIf="
                moduleListForm.length > 1 &&
                f.moduleName.value !== 'Add New One'
              "
            >
              <select
                matNativeControl
                name="framework"
                formControlName="moduleName"
              >
                <option *ngFor="let module of moduleListForm" [value]="module">
                  {{ module }}
                </option>
              </select>
            </mat-form-field>
            <mat-error
              *ngIf="
                f.moduleName &&
                f.moduleName?.errors &&
                f.moduleName.errors?.required &&
                (f.moduleName.dirty || f.moduleName.touched)
              "
            >
              Module Name is Required
            </mat-error>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 form-group">
          <mat-label
            >Component Name<span class="mandatory-icon"> *</span></mat-label
          >
          <input
            matInput
            class="form-control"
            formControlName="componentName"
          />
          <mat-error
            *ngIf="
              f.componentName &&
              f.componentName?.errors &&
              f.componentName.errors?.required &&
              (f.componentName.dirty || f.componentName.touched)
            "
          >
            Component Name is Required
          </mat-error>
        </div>
      </div>
      <div class="row">
        <div class="col-12 form-group">
          <mat-label
            >Component Type<span class="mandatory-icon"> *</span></mat-label
          >
          <mat-form-field appearance="fill">
            <select
              matNativeControl
              name="componentType"
              formControlName="componentType"
            >
              <option
                *ngFor="let componentType of componentTypes"
                [value]="componentType.id"
              >
                {{ componentType.type }}
              </option>
            </select>
          </mat-form-field>
          <mat-error
            *ngIf="
              f.componentType &&
              f.componentType?.errors &&
              f.componentType.errors?.required &&
              (f.componentType.dirty || f.componentType.touched)
            "
          >
            Component Type is Required
          </mat-error>
        </div>
      </div>
      <div class="row mt-3">
        <div formArrayName="customerAirCarrierCodes">
          <app-add-field-details
            *ngFor="let form of airCarrierArr; let i = index"
            [addFieldForm]="form"
          ></app-add-field-details>
        </div>
      </div>

      <div class="row">
        <div class="float-right">
          <button mat-button class="add-button" (click)="addFieldInput()">
            Add More Field
          </button>
        </div>
      </div>
      <div class="row">
        <div class="float-right">
          <button mat-button class="add-button" (click)="addInput()">
            Save
          </button>
        </div>
      </div>
    </form>
    <div class="row" *ngIf="tableData.length > 0">
      <div class="table-border">
        <app-module-component-list
          [tableData]="tableData"
        ></app-module-component-list>
      </div>
    </div>
  </div>
</div>
