::ng-deep {
  .create-page {
    font-family: "Segoe_UI_Semi_bold";
    //max-width: 500px;
    margin: auto;
    width: 50%;
    padding: rem(25px) !important;

    input {
      width: 100%;
      border: 1px solid #b4bcd1;
      font-size: rem(14px);
      color: #11142e;
    }
    mat-label {
      font-size: rem(13px);
      color: #656a89;
      margin-bottom: rem(7px);
      .mandatory-icon {
        color: red;
      }
    }
    mat-error {
      color: red;
      font-family: "Conv_segoeui";
      padding-left: rem(20px);
      font-size: rem(13px);
      background-position-y: center;
      display: flex;
      padding-bottom: rem(2px);
    }

    .add-button {
      margin: 9px 5px 0px 5px;
      width: 25% !important;
      background-color: #1c4e9d;
      color: white;
      font-weight: 250;
      font-family: "Segoe UI";
      z-index: 100;
      padding: rem(10px);
      float: right;
    }
    .table-border {
      border-top: 1px solid #11142e;
      margin-top: rem(10px);
      padding: rem(10px);
    }
  }
}
