::ng-deep {
  .field-create-page {
    font-family: "Segoe_UI_Semi_bold";
    margin: auto;
    width: 95%;
    border: 1px solid #11142e;
    border-radius: rem(6px);
    padding: rem(25px) !important;
    mat-label {
      font-size: rem(13px);
      color: #656a89;
      margin-bottom: rem(7px);
      .mandatory-icon {
        color: red;
      }
    }
    mat-error {
      color: red;
      font-family: "Conv_segoeui";
      padding-left: rem(20px);
      font-size: rem(13px);
      background-position-y: center;
      display: flex;
      padding-bottom: rem(2px);
    }
  }
  .cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    transform: none !important;
    margin-top: 22px;
  }
}
