.form-container{
    border: 1px solid lightgray;
    padding: 10px;
    width: 1000px;
    margin: auto;
    .component-container{
        border: 1px solid lightgray;
        padding: 10px;
        margin: 10px;
    }
    .row{
        .float-right{
            text-align: right;
        }
    }

}