<form [formGroup]="codeForm" class="form-container">
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <mat-label>Frontend Technology</mat-label>
        <mat-select formControlName="fetTech">
          <mat-option *ngFor="let tech of fetTechnology" [value]="tech.id">
            {{ tech.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field>
        <mat-label>Backend Technology</mat-label>
        <mat-select formControlName="backTech">
          <mat-option *ngFor="let tech of backendTechnology" [value]="tech.id">
            {{ tech.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div formArrayName="component">
    <div
      *ngFor="let employee of component().controls; let compIndex = index"
      class="component-container"
    >
      <div [formGroupName]="compIndex">
        <p>{{ compIndex + 1 }}] Component</p>
        <div class="row">
          <div class="col-3">
            <mat-form-field>
              <mat-label>Parent Module Name</mat-label>
              <input type="name" matInput formControlName="parentModuleName" />
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field>
              <mat-label>Module Name</mat-label>
              <input type="name" matInput formControlName="newModuleName" />
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field>
              <mat-label>Component Name</mat-label>
              <input type="name" matInput formControlName="componentName" />
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field>
              <mat-label>Service Method Name</mat-label>
              <input type="name" matInput formControlName="serviceMethodName" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <mat-form-field>
              <mat-label>Type Of Opration</mat-label>
              <mat-select multiple formControlName="typeOfOpration">
                <mat-option *ngFor="let type of types" [value]="type.name">
                  {{ type.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field>
              <mat-label>table Name</mat-label>
              <input type="name" matInput formControlName="tableName" />
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field>
              <mat-label>table Name For Transaction</mat-label>
              <input
                type="name"
                matInput
                formControlName="tableNameForTransaction"
              />
            </mat-form-field>
          </div>
          <div class="col-3">
            <button
              mat-raised-button
              color="primary"
              (click)="removeComponent(compIndex)"
            >
              delete
            </button>
          </div>
        </div>
        <div formArrayName="fields">
          <div
            *ngFor="
              let field of getField(compIndex).controls;
              let fieldIndex = index
            "
          >
            <div [formGroupName]="fieldIndex">
              <p>{{ fieldIndex + 1 }}] Field</p>
              <div class="row">
                <div class="col-3">
                  <mat-form-field>
                    <mat-label>Field Name</mat-label>
                    <input type="name" matInput formControlName="fieldName" />
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field>
                    <mat-label>Field Label</mat-label>
                    <input type="name" matInput formControlName="fieldLabel" />
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field>
                    <mat-label>Field Name Backend</mat-label>
                    <input
                      type="name"
                      matInput
                      formControlName="fieldNameBackend"
                    />
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field>
                    <mat-label>Length Of Field</mat-label>
                    <input
                      type="name"
                      matInput
                      formControlName="lengthOfField"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <mat-form-field>
                    <mat-label>Type Of Field</mat-label>
                    <input type="name" matInput formControlName="typeOfField" />
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field>
                    <mat-label>Validation</mat-label>
                    <mat-select multiple formControlName="validation">
                      <mat-option
                        *ngFor="let val of validations"
                        [value]="val.name"
                      >
                        {{ val.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <button
                    mat-raised-button
                    color="primary"
                    (click)="removeComponentField(compIndex, fieldIndex)"
                  >
                    delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="addField(compIndex)">
          Add Field
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10 float-right">
      <button mat-raised-button color="primary" (click)="addComponent()">
        Add Component
      </button>
    </div>
    <div class="col-2 float-right">
      <button mat-raised-button color="primary" (click)="save()">Save</button>
    </div>
  </div>
</form>

<!-- {{ this.codeForm.value | json }} -->
