.form-container{
    border: 1px solid lightgray;
    padding: 10px;
    width: 70%;
    margin: 40px auto;
    .header-form{
        padding: 10px;
    }
    .component-container{
        border: 1px solid lightgray;
        padding: 10px;
        margin: 15px 10px;
        background-color: aliceblue;
    }
    .row{
        .float-right{
            text-align: right;
        }
    }

}